{% load static %}
{% load humanize %}


<div class="card mb-3 text-bg-light shadow-lg">
    
    {% for favorite in favorites %}
    <div class="card-header">
        <a href="{% url "catalog:product" favorite.product.slug %}">
            <h5 class="card-title">{{favorite.product.category}} {{favorite.product.name}}</h5>
        </a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row text-center align-items-center">
                <div class="col-lg-3 p-0 d-flex align-items-start">
                    {% if favorite.product.image %}
                    <img src="{{ favorite.product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                    <img src={% static "deps/images/Not found image.jpg" %} class="card-img-top" alt="...">
                    {% endif %}
                </div>
                <div class="col-lg-5 p-0">
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/calendar.svg" %}" alt="Calendar" 
                        width="25" height="25">&nbsp; &nbsp;Год выпуска: {{ favorite.product.year }}</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/engine.svg" %}" alt="Engine" 
                        width="25" height="25">&nbsp; &nbsp;Объем двигателя: {{ favorite.product.engine }} л.</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/power.svg" %}" alt="Power" 
                        width="25" height="25">&nbsp; &nbsp;Мощность двигателя: {{ favorite.product.power }} л.с.</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/road.svg" %}" alt="Road" 
                        width="25" height="25">&nbsp; &nbsp;Пробег: {{ favorite.product.mileage }} км</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/gearbox.svg" %}" alt="Gearbox" 
                        width="25" height="25">&nbsp; &nbsp;Коробка передач: {{ favorite.product.gearbox }}&nbsp;</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/paint.svg" %}" alt="Paint" 
                        width="25" height="25">&nbsp; &nbsp;Цвет: {{ favorite.product.color }}</p>
                    <p class="d-flex justify-content-start ps-3" style="margin-bottom: 0;"><img src="{% static "deps/icons/fuel.svg" %}" alt="Fuel" 
                        width="25" height="25">&nbsp; &nbsp;Топливо: {{ favorite.product.fuel }}</p>
                </div>
                <h5 class="col p-0"><strong>Цена: {{favorite.product_price|intcomma}} RUB</strong></h5>
                <div class="col-lg-1 p-0">
                    <a href="{% url "cart:cart_add" favorite.product.slug %}" class="btn add-to-cart">
                        <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                            width="32" height="32">
                    </a>
                </div>
                <div class="col-lg-1 p-0">
                    <a href="{% url "cart:favorite_remove" favorite.id %}" class="remove-from-favorite" data-cart-id="">
                        <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"
                            alt="Catalog Icon" width="35" height="35">
                    </a>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
    