{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load cars_tags %}

{% block content %}
<div class = "container">
    <div class="row">
        <!-- Кнопка для открытия модального окна -->
        <button type="button" class="btn btn-secondary btn-dark" data-bs-toggle="modal" data-bs-target="#filtersModal">
            Фильтры
        </button>

        <!-- Модальное окно с фильтрами -->
        <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filtersModalLabel">Фильтры</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url "catalog:index" slug_url %}" method="get">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                                {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                {% comment %}<input type="hidden" name="q" value="request.GET.q">{% endcomment %}
                                <label class="form-check-label" for="flexCheckDefault">
                                    Товары по акции
                                </label>
                            </div>
                            <p class="mt-3">Сортировать:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault1" value="default"
                                    {% if not request.GET.order_by_price or request.GET.order_by_price == 'default' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    По умолчанию
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault2" value="price"
                                    {% if request.GET.order_by_price == 'price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    От дешевых к дорогим
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="order_by_price" id="flexRadioDefault3" value="-price"
                                    {% if request.GET.order_by_price == '-price' %}checked{% endif %}>
                                <label class="form-check-label" for="flexRadioDefault3">
                                    От дорогих к дешевым
                                </label>
                            </div>
                            <div class="mt-3 text-center">
                                <button type="submit" class="btn btn-primary">Применить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% for product in cars %}
            <!-- Карта товара -->
            <div class="col-lg-4 col-md-6 p-4">
                <div class="card border-primary rounded custom-shadow d-flex flex-column h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src={% static "deps/images/Not found image.jpg" %} class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url "catalog:product" product.slug %}">
                            <p class="card-title">{{product.category}} {{ product.name }}</p>
                        </a>
                        <p class="card-text">{{ product.description|truncatechars:50 }}</p>
                        <div class="flex-column">

                            {% if product.discount %}
                                <p>Старая цена: <s>{{ product.price|intcomma }}</s> RUB</p>
                                <p>Цена со скидкой: <strong>{{ product.sell_price|intcomma }} RUB</strong></p>
                                <span class="badge bg-warning text-dark">Скидка {{ product.discount }} %</span>
                            {% else %}
                                <p>Цена: <strong>{{ product.price|intcomma }} RUB</strong></p>         
                            {% endif %}
                            
                            <a href="#" class="btn add-to-cart position-absolute bottom-0 end-0">
                                <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<!-- Пагинация -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">

                <li class="page-item {% if not cars.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if cars.has_previous %}?{% change_params page=cars.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                </li>

                {% for page in cars.paginator.page_range %}
                    {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
                        <li class="page-item {% if cars.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}              
                {% endfor %}

                <li class="page-item {% if not cars.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if cars.has_next %}?{% change_params page=cars.next_page_number %}{% else %}#{% endif %}">Вперед</a>
                </li>

            </div>
        </ul>
    </nav>

{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark mt-auto">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BestCar 2024</p>
    </div>
</footer>
{% endblock %}