{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% load cars_tags %}

{% block content %}
<div class = "container catalog">
    <div class="row">
        <!-- Кнопка для открытия модального окна -->
        <button type="button" class="btn btn-secondary btn-dark" data-bs-toggle="modal" data-bs-target="#filtersModal">
            Фильтры
        </button>

        <!-- Модальное окно с фильтрами -->
        <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="filtersModalLabel">Фильтры</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get">

                            <div class="form-check mt-3">
                                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"
                                {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}
                                <label class="form-check-label" for="flexCheckDefault">
                                    Автомобили со скидкой
                                </label>
                            </div>

                            <p class="mt-3 mb-0">Тип коробки передач: </p>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Механическая
                                </label>
                                <input class="form-check-input" type="checkbox" name="gearbox_manual" id="flexCheckDefault" value="on"
                                {% if request.GET.gearbox_manual == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Автомат
                                </label>
                                <input class="form-check-input" type="checkbox" name="gearbox_automatic" id="flexCheckDefault" value="on"
                                {% if request.GET.gearbox_automatic == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Робот
                                </label>
                                <input class="form-check-input" type="checkbox" name="gearbox_robotic" id="flexCheckDefault" value="on"
                                {% if request.GET.gearbox_robotic == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Вариатор
                                </label>
                                <input class="form-check-input" type="checkbox" name="gearbox_variator" id="flexCheckDefault" value="on"
                                {% if request.GET.gearbox_variator == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>


                            <p class="mt-3 mb-0">Тип топлива: </p>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Бензин
                                </label>
                                <input class="form-check-input" type="checkbox" name="fuel_gasoline" id="flexCheckDefault" value="on"
                                {% if request.GET.fuel_gasoline == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Дизель
                                </label>
                                <input class="form-check-input" type="checkbox" name="fuel_diesel" id="flexCheckDefault" value="on"
                                {% if request.GET.fuel_diesel == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Электро
                                </label>
                                <input class="form-check-input" type="checkbox" name="fuel_electricity" id="flexCheckDefault" value="on"
                                {% if request.GET.fuel_electricity == 'on' %}checked{% endif %}>
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}   
                            </div>

                            <p class="mt-3">Сортировать:</p>

                            <select name="sort_type" id="sort_type">
                                <option value="default" {% if request.GET.sort_type == 'default' %}selected{% endif %}>По умолчанию</option>
                                <option value="brand_asc" {% if request.GET.sort_type == 'brand_asc' %}selected{% endif %}>По названию марки</option>
                                <option value="price_asc" {% if request.GET.sort_type == 'price_asc' %}selected{% endif %}>По цене: от дешевых к дорогим</option>
                                <option value="price_desc" {% if request.GET.sort_type == 'price_desc' %}selected{% endif %}>По цене: от дорогих к дешевым</option>
                                <option value="year_asc" {% if request.GET.sort_type == 'year_asc' %}selected{% endif %}>По году: от более старых к более новым</option>
                                <option value="year_desc" {% if request.GET.sort_type == 'year_desc' %}selected{% endif %}>По году: от более новых к более старым</option>
                                <option value="power_asc" {% if request.GET.sort_type == 'power_asc' %}selected{% endif %}>По мощности: от менее мощных к более мощным</option>
                                <option value="power_desc" {% if request.GET.sort_type == 'power_desc' %}selected{% endif %}>По мощности: от более мощных к менее мощным</option>
                                <option value="mileage_asc" {% if request.GET.sort_type == 'mileage_asc' %}selected{% endif %}>По пробегу: от меньшего к большему</option>
                                <option value="mileage_desc" {% if request.GET.sort_type == 'mileage_desc' %}selected{% endif %}>По пробегу: от большего к меньшему</option>
                            </select>


                            <p class="mt-3">Цена:</p>
                            <div class="mt-3 d-flex">
                                <label for="min_price" class="form-label me-2">от</label>
                                <input type="number" class="form-control me-2" id="min_price" name="min_price" 
                                    {% if request.GET.min_price %}value="{{ request.GET.min_price }}"{% endif %} placeholder="Минимальная цена">
                                <span class="me-2">до</span>
                                <input type="number" class="form-control me-2" id="max_price" name="max_price" 
                                    {% if request.GET.max_price %}value="{{ request.GET.max_price }}"{% endif %} placeholder="Максимальная цена">
                            </div>

                            <p class="mt-3">Год:</p>
                            <div class="mt-3 d-flex">
                                <label for="min_year" class="form-label me-2">от</label>
                                <input type="number" class="form-control me-2" id="min_year" name="min_year"
                                    {% if request.GET.min_year %}value="{{ request.GET.min_year }}"{% endif %} placeholder="Минимальный год">
                                <span class="me-2">до</span>                          
                                <input type="number" class="form-control me-2" id="max_year" name="max_year" 
                                    {% if request.GET.max_year %}value="{{ request.GET.max_year }}"{% endif %} placeholder="Максимальный год">
                            </div>

                            <p class="mt-3">Мощность:</p>
                            <div class="mt-3 d-flex">
                                <label for="min_power" class="form-label me-2">от</label>
                                <input type="number" class="form-control me-2" id="min_power" name="min_power"
                                    {% if request.GET.min_power %}value="{{ request.GET.min_power }}"{% endif %} placeholder="Минимальная мощность">
                                <span class="me-2">до</span>                          
                                <input type="number" class="form-control me-2" id="max_power" name="max_power" 
                                    {% if request.GET.max_power %}value="{{ request.GET.max_power }}"{% endif %} placeholder="Максимальная мощность">
                            </div>

                            <p class="mt-3">Пробег:</p>
                            <div class="mt-3 d-flex">
                                <label for="min_mileage" class="form-label me-2">от</label>
                                <input type="number" class="form-control me-2" id="min_mileage" name="min_mileage"
                                    {% if request.GET.min_mileage %}value="{{ request.GET.min_mileage }}"{% endif %} placeholder="Минимальный пробег">
                                <span class="me-2">до</span>                          
                                <input type="number" class="form-control me-2" id="max_mileage" name="max_mileage" 
                                    {% if request.GET.max_mileage %}value="{{ request.GET.max_mileage }}"{% endif %} placeholder="Максимальный пробег">
                            </div>

                            <div class="mt-3 text-center">
                                <button type="submit" class="btn btn-primary">Применить</button>
                                <button type="submit" class="btn btn-secondary ms-2" name="reset_filters">Сбросить фильтры</button>
                            </div>                  
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if request.GET.q and request.GET.q|length >= 2 %}
            <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }} </h3>
        {% if not cars %}
            <h2 class="mt-4">По запросу ничего не найдено</h2>
        {% endif %}
        {% endif %}

        {% for product in cars %}
            <!-- Карта товара -->
            <div class="col-lg-4 col-md-6 p-4">
                <div class="card border-primary rounded custom-shadow d-flex flex-column h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src={% static "deps/images/Not found image.jpg" %} class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-between">
                        <a href="{% url "catalog:product" product.slug %}">
                            <p class="card-title">
                                {% autoescape off %}
                                    {% if product.headline_category or product.headline_name %}
                                        {{product.headline_category}} {{product.headline_name}}
                                    {% else %}
                                        {{product.category}} {{ product.name }}
                                    {% endif %}
                                {% endautoescape %}
                            </p>
                        </a>
                        <p class="card-text">
                            {% autoescape off %}
                                {% if product.bodyline %}
                                    {{product.bodyline|truncatechars:150}} 
                                {% else %}
                                    {{ product.description|truncatechars:50 }}
                                {% endif %}
                            {% endautoescape %}
                        </p>
                        <div class="flex-column">

                            {% if product.discount %}
                                <p>Старая цена: <s>{{ product.price|intcomma }}</s> RUB</p>
                                <p>Цена со скидкой: <strong>{{ product.sell_price|intcomma }} RUB</strong></p>
                                <span class="badge bg-dark">Скидка {{ product.discount }} %</span>
                            {% else %}
                                <p>Цена: <strong>{{ product.price|intcomma }} RUB</strong></p>         
                            {% endif %}
                        
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="{% url "cart:favorite_add" product.slug %}" class="btn add-to-favorite">
                                <img class="mx-1" src="{% static "deps/icons/heart2.svg" %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                            <a href="{% url "cart:cart_add" product.slug %}" class="btn add-to-cart">
                                <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<!-- Пагинация -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">

                <li class="page-item {% if not cars.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if cars.has_previous %}?{% change_params page=cars.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                </li>

                {% for page in cars.paginator.page_range %}
                    {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
                        <li class="page-item {% if cars.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}              
                {% endfor %}

                <li class="page-item {% if not cars.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if cars.has_next %}?{% change_params page=cars.next_page_number %}{% else %}#{% endif %}">Вперед</a>
                </li>

            </div>
        </ul>
    </nav>
    

{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BestCar 2024</p>
    </div>
</footer>
{% endblock %}