{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block modal_favorite %}
{% include "includes/favorite_button.html" %}
{% endblock  %}

{% block modal_consultation %}
{% include "includes/consultation_button.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-5">
                {% if product.image %}
                    <img src="{{ product.image.url }}"
                        class="img-thumbnail cursor-pointer" data-bs-toggle="modal" data-bs-target="#imageModal1">
                {% else %}
                    <img src="{% static "deps/images/Not found image.jpg" %}" class="card-img-top" alt="...">
                {% endif %}
            </div>
            <div class="col-md-4">                        
                <h2><strong>{{ product.category }}&nbsp;{{ product.name }}&nbsp;</strong></h2>
                <p><img src="{% static "deps/icons/calendar.svg" %}" alt="Calendar"
                    width="25" height="25">&nbsp; &nbsp;Год выпуска: {{ product.year }}</p>
                <p><img src="{% static "deps/icons/engine.svg" %}" alt="Engine"
                    width="25" height="25">&nbsp; &nbsp;Объем двигателя: {{ product.engine }} л.</p>
                <p><img src="{% static "deps/icons/power.svg" %}" alt="Power"
                    width="25" height="25">&nbsp; &nbsp;Мощность двигателя: {{ product.power }} л.с.</p>
                <p><img src="{% static "deps/icons/road.svg" %}" alt="Road"
                    width="25" height="25">&nbsp; &nbsp;Пробег: {{ product.mileage }} км</p>
                <p><img src="{% static "deps/icons/gearbox.svg" %}" alt="Gearbox"
                    width="25" height="25">&nbsp; &nbsp;Коробка передач: {{ product.gearbox }}&nbsp;</p>
                <p><img src="{% static "deps/icons/paint.svg" %}" alt="Paint"
                    width="25" height="25">&nbsp; &nbsp;Цвет: {{ product.color }}</p>
                <p><img src="{% static "deps/icons/fuel.svg" %}" alt="Fuel"
                    width="25" height="25">&nbsp; &nbsp;Топливо: {{ product.fuel }}</p>
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel">{{ product.category }}&nbsp;{{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="d-block w-100" alt="Изображение 1">
                                        {% else %}                              
                                            <img src="{% static "deps/images/Not found image.jpg" %}" class="card-img-top" alt="...">
                                        {% endif %}  
                                    </div>
                                    <div class="carousel-item">
                                    {% if product.image2 %}
                                        <img src="{{ product.image2.url }}" class="d-block w-100" alt="Изображение 2">
                                    {% else %}                              
                                        <img src="{% static "deps/images/Not found image.jpg" %}" class="card-img-top" alt="...">
                                    {% endif %}  
                                    </div>
                                    <div class="carousel-item">
                                    {% if product.image3 %}
                                        <img src="{{ product.image3.url }}" class="d-block w-100" alt="Изображение 2">
                                    {% else %}                              
                                        <img src="{% static "deps/images/Not found image.jpg" %}" class="card-img-top" alt="...">
                                    {% endif %}
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Предыдущий</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Следующий</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">
            
            {% if product.discount %}
                <p><strong>Старая цена: </strong><s>{{ product.price|intcomma }}</s> RUB</p>
                <p class="card-text">Цена со скидкой: <strong>{{ product.sell_price|intcomma }} RUB</strong></p>
            {% else %}
                <p class="card-text">Цена: <strong>{{ product.sell_price|intcomma }} RUB</strong></p>
            {% endif %}

            <!-- Кнопка "Рассчитать рассрочку" -->
            <button type="button" class="btn btn-info btn-credit" data-bs-toggle="modal" data-bs-target="#installmentModal">
                Рассчитать кредит
            </button>

            <!-- Модальное окно рассрочки -->
            {% include "cars/includes/included_installment.html" %}
            <!-- Модальное окно -->

            <p class="card-text">{{ product.description }}</p>
            <a href="{% url "cart:favorite_add" %}" class="btn btn-success add-to-favorite"
            data-product-id="{{ product.id }}">
            {% csrf_token %}
            Добавить в избранное</a>
            <a href="{% url "cart:cart_add" %}" class="btn btn-secondary btn-dark add-to-cart ms-3"
            data-product-id="{{ product.id }}">
            {% csrf_token %}
            Добавить в корзину</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">BestCar 2024</p>
    </div>
</footer>
{% endblock footer %}
