{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block modal_favorite %}
{% include "includes/favorite_button.html" %}
{% endblock  %}

{% block modal_consultation %}
{% include "includes/consultation_button.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row">
            <!-- Профиль с данными пользователя -->
            <div class="col-md-5">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профиль пользователя</h3>
                    <form action="{% url "user:profile" %}" method ="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                        style="max-width: 150px;">
                                {% else %}
                                    <img src="{% static "deps/images/baseavatar.jpg" %}"
                                        alt="Аватар пользователя" class="img-fluid rounded-circle"
                                        style="max-width: 150px;">
                                {% endif %}
                                
                                <input type="file" class="form-control mt-3" id="id_image"
                                    name='image'
                                    accept="image/*">
                                {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_first_name" class="form-label">Имя*</label>
                                <input type="text" class="form-control" id="id_first_name"
                                    name="first_name"
                                    placeholder="Введите ваше имя"
                                    value="{{ form.first_name.value }}" 
                                    required>
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*</label>
                                <input type="text" class="form-control" id="id_last_name"
                                    name="last_name"
                                    placeholder="Введите вашу фамилию"
                                    value="{{ form.last_name.value }}" 
                                    required>
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_username" class="form-label">Имя пользователя*</label>
                                <input type="text" class="form-control" id="id_username"
                                    name="username"
                                    placeholder="Введите ваше имя пользователя" 
                                    value="{{ form.username.value }}" 
                                    required>
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="id_email"
                                    name = "email"
                                    placeholder="Введите ваш email *youremail@example.com" 
                                    value="{{ form.email.value }}"
                                    required>
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_phone" class="form-label">Номер телефона*</label>
                                <input type="phone" class="form-control" id="id_phone"
                                    name = "phone"
                                    placeholder="Введите ваш телефон *+Х ХХХ XXX-ХХ-XХ" 
                                    value="{{ form.phone.value }}"
                                    required>
                                    {% if form.phone.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{form.phone.errors}}</div>
                                    {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-dark">Сохранить</button>
                    </form>
                </div>
            </div>
            <!-- Корзина -->
            <div class="col-md-7">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Корзина</h3>
                    <div class="container" id="cart-items-container">
                        <!-- Разметка корзины -->
                        {% include "carts/includes/included_cart.html" %}
                        <!-- Закончилась разметка корзины -->
                    </div>
                    {% if carts %}
                        <a class="btn btn-secondary btn-dark" href="../orders/create_order.html">
                            Оформить заказ
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Оформленные заказы -->
            <div class="col-md-12">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Мои заказы</h3>
                    <!-- Разметка заказов -->
                    <div class="container">
                        <div class="accordion" id="accordionExample">
                            {% for order in orders %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ order.id }}">
                                    <button class="accordion-button" {% if order != orders.0 %}collapsed{% endif %} type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse">
                                        Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус:<strong class="mx-2">{{ order.get_status_display }}</strong>
                                    </button>
                                </h2>
                                <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-dark table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Фото</th>
                                                    <th>Автомобиль</th>
                                                    <th>Характеристики</th>
                                                    <th>Общая стоимость</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order.orderitem_set.all %}
                                                <tr>
                                                    <td style="width: 30%;">{% if item.product.image %}
                                                            <img src="{{ item.product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                                                        {% else %}
                                                            <img src={% static "deps/images/Not found image.jpg" %} class="card-img-top" alt="...">
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: 18%;"><p class="text-white">{{item.product.category}} {{ item.product.name }}</p></td>
                                                    <td>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/calendar.svg" %}" alt="Calendar" 
                                                            width="25" height="25">&nbsp; &nbsp;Год выпуска: {{ item.product.year }}</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/engine.svg" %}" alt="Engine" 
                                                            width="25" height="25">&nbsp; &nbsp;Объем двигателя: {{ item.product.engine }} л.</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/power.svg" %}" alt="Power" 
                                                            width="25" height="25">&nbsp; &nbsp;Мощность двигателя: {{ item.product.power }} л.с.</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/road.svg" %}" alt="Road" 
                                                            width="25" height="25">&nbsp; &nbsp;Пробег: {{ item.product.mileage }} км</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/gearbox.svg" %}" alt="Gearbox" 
                                                            width="25" height="25">&nbsp; &nbsp;Коробка передач: {{ item.product.gearbox }}&nbsp;</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/paint.svg" %}" alt="Paint" 
                                                            width="25" height="25">&nbsp; &nbsp;Цвет: {{ item.product.color }}</p>
                                                        <p class="d-flex justify-content-start ps-1" style="margin-bottom: 0;"><img style="filter: invert(100%);" src="{% static "deps/icons/fuel.svg" %}" alt="Fuel" 
                                                            width="25" height="25">&nbsp; &nbsp;Топливо: {{ item.product.fuel }}</p>
                                                    </td>
                                                    <td style="width: 15%;">{{item.price|intcomma}} Руб.</td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-between">
                                            <p><strong>Итого:</strong></p>
                                            <p><strong>{{order.total_price|intcomma}} Руб.</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Закончилась разметка заказов -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BestCar 2024</p>
    </div>
</footer>
{% endblock %}

