{% extends "base.html" %}
{% load static %}

{% block modal_favorite %}
{% include "includes/favorite_button.html" %}
{% endblock  %}

{% block modal_consultation %}
{% include "includes/consultation_button.html" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
    <div class="mt-5 pt-4 pb-4 ps-2 pe-2 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p>"Свяжитесь с нами, чтобы узнать больше о наших услугах и автомобилях BestCar. Мы всегда готовы помочь в выборе вашего идеального автомобиля. Звоните, пишите или посетите нас уже сегодня! Ваше удобство — наш приоритет."</p>
        <div>Телефон: <strong>8-911-378-52-08</strong></div>
        <div>Почта: <strong>kovil22@mail.ru</strong></div>
        <div>Адрес: <strong>г.Санкт-Петербург, Пулковское шоссе, 36к2</strong></div>
        <div class="mt-2">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A277d1bf625529dcaacc1683fbda546ff6662ced8aa8e95edd24434c648575ca0&amp;width=auto&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script> 
        </div >
    </div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">BestCar 2024</p>
    </div>
</footer>
{% endblock footer %}